/* General container styling */
.container {
    padding: 20px;
}

/* Leaderboard title */
.title {
    font-size: 32px; /* Increased font size */
    margin-bottom: 20px;
    color: #2f8f46; /* Green theme */
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

/* Leaderboard table styling */
.table {
    width: 60%;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    border-radius: 10px;
}

.th {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #e7f5e9; /* Light green */
    color: #2f8f46; /* Green text */
    font-weight: bold;
    text-align: left; /* Left align text in table */
    font-size: 18px;
}

.td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left; /* Left align table data */
    color: #333;
    font-size: 16px;
}

.row:nth-child(even) {
    background-color: #f9f9f9;
}

.row:hover {
    background-color: #e1f3e5;
    transition: background-color 0.3s ease;
}

/* Find food section styling */
.find-food-container {
    margin-top: 40px;
    padding: 0 20px; /* Add padding to left-aligned text */
}

.find-food-text {
    font-size: 32px; /* Increased font size */
    font-weight: bold;
    color: #2f8f46; /* Green theme */
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.find-food-component {
    margin-top: 20px;
}
