node_modules
.next
start
__pycache__
.gradle/
build/
**/build/
!gradle-wrapper.jar
**/local.properties
.gradle/
*.iml
.idea/
*.apk
*.ap_
*.class
*.dex
*.jar
*.war
*.ear
*.class
*.swp
*.swo
*.DS_Store
/build/
*.orig
*.keystore
.idea/
# Unit test files
*.test
*.testing