/* Global styles.css */
.analyticsPage {
  font-family: Arial, sans-serif;
  padding: 20px;
  height: 100vh;
  color: #62825D; /* Text */
  background-color: #C2FFC7; 
}

.pageTitle {
  text-align: center;
  font-size: 2rem;
  color: #526E48; /* Darker Text */
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #62825D; /* Text */
}

.spinner {
  border: 4px solid rgba(98, 130, 93, 0.1); /* Text (lightened for subtle effect) */
  border-top: 4px solid #9EDF9C; /* Secondary */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.cardsContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card {
  width: 30%;
  padding: 20px;
  border: 1px solid #9EDF9C; /* Secondary */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff; /* Primary */
  color: #62825D; /* Text */
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #526E48; /* Darker Text */
}

.chartWrapper {
  height: 300px;
  background-color: #fff; /* Secondary */
  border-radius: 8px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

